body {
    /* Headings */
    --h1-color: #81B29A;
    --h2-color: #F4F1DE;
    --h3-color: #F2CC8F;
    --h4-color: #3D405B;
    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1em;
    --h4-size: 1em;

    h1 {
        text-align: center;
    }

    /* Brain name */
a[target="https://isodonto.vercel.app"] {
color: #f5cac3;
}

    /* Folders & Subfolders */
    .filename {
        color: white;
    }
    .foldername-wrapper {
        color: #84a59d;
    }
    
}

/* Img Tweaks */
img {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -26px;
}

/* Image grid */
/*
author: FireIsGood
source: https://discord.com/channels/686053708261228577/702656734631821413/1096492008526319677
*/

/* Makes multiple images on the same line appear in a flex grid */
.cm-line:not(.cm-active):has(.image-embed ~ .image-embed),
p:has(.image-embed ~ .image-embed) {
  display: flex;
  gap: 0.5rem;
}
.cm-line:not(.cm-active):has(.image-embed ~ .image-embed)
  :is(.cm-widgetBuffer, span) {
  display: none !important;
}
/* Makes a highlighted line shrink the image */
:root:root .cm-line.cm-active > .image-embed {
  width: 100px;
  display: inline-block;
}
/* Centers the image if it is modified */
:root:root .cm-line:not(.cm-active) > .image-embed,
p > .image-embed {
  display: flex;
  place-items: center;
  flex-direction: column;
}
